<div class="container-fluid">

  <div class="row">
      <div class="col-sm-12">
          <h3>API Data</h3>
          <hr>
      </div>
  </div>

  <div class="row">

      <div class="col-sm-12">

          <table class="table">

              <thead>
                  <tr>
                    <th (click)="sort('id')">ID &nbsp;
                        <span *ngIf="key =='id'" [ngClass]="sorted == false ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
                    </th>

                    <th (click)="sort('albumId')">Album ID
                        <span *ngIf="key =='albumId'" [ngClass]="sorted == false ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
                    </th>

                    <th (click)="sort('title')">Title
                        <span *ngIf="key =='title'" [ngClass]="sorted == false ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
                    </th>

                    <th>URL</th>

                    <th>Thumbnail URL</th>
                  </tr>
              </thead>


              <tbody>
                  <tr *ngFor="let data of dataSource | orderBy: key : sorted | paginate: { itemsPerPage: 10, currentPage: page }"
                  [ngClass]="{'highlight': selectedRowIndex == data.id}" (click)="onClick(data)">
                      <td>{{ data.id }}</td>
                      <td>{{ data.albumId }}</td>
                      <td>{{ data.title }}</td>
                      <td><a [href]="data.url" target="_blank">Show Image</a></td>
                      <td><a [href]="data.thumbnailUrl" target="_blank">Show Thumbnail</a></td>
                  </tr>
              </tbody>


          </table>

          <pagination-controls (pageChange)="page = $event" maxSize="10" responsive="true" previousLabel="Previous"
                    nextLabel="Next" ></pagination-controls>


      </div>

  </div>

</div>